.new-quiz {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-items: stretch;
  margin-top: 80px;

  &__field,
  &__questions,
  &__submit {
    grid-column: 4 / 10;
  }

  &__submit {
    margin: 24px 0;
  }
}
