@use '@angular/material' as mat;
@import '../../../../../scss/colors.scss';

.quiz-form {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 12px;
  padding-top: 80px;
  color: mat.get-color-from-palette($secondary, 50);

  &__wrapper {
    grid-column: 3 / 11;
    background-color: mat.get-color-from-palette($primary, 500);
    padding: 40px;
    border-radius: 50px;
    border: 4px solid mat.get-color-from-palette($primary, 500);
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 768px) {
      grid-column: 2 / 12;
    }

    &__action {
      margin: 24px 0;
      border-radius: 40px;
      background-color: mat.get-color-from-palette($secondary, 600);
      color: mat.get-color-from-palette($secondary, 50);
      &:hover {
        background-color: mat.get-color-from-palette($secondary, 800);
      }
    }
  }
}
