<form class="quiz-form" [formGroup]="quizForm" *ngIf="user.isAdmin">
  <div class="quiz-form__wrapper">
    <mat-form-field class="quiz-form__wrapper__field" appearance="outline">
      <mat-label class="quiz-form__wrapper__field__label"
        >Quiz language name</mat-label
      >
      <input
        class="quiz-form__wrapper__field__input"
        matInput
        placeholder="Ex. Java"
        required
        type="text"
        formControlName="language"
      />
    </mat-form-field>
    <mat-form-field class="quiz-form__wrapper__field" appearance="outline">
      <mat-label class="quiz-form__wrapper__field__label"
        >Quiz image url</mat-label
      >
      <input
        class="quiz-form__wrapper__field__input"
        matInput
        placeholder="Ex. https://.../.png"
        required
        type="text"
        formControlName="thumbnail"
      />
    </mat-form-field>
    <mat-tab-group
      class="quiz-form__wrapper__tabs"
      [selectedIndex]="selected.value"
      (selectedIndexChange)="selected.setValue($event)"
    >
      <mat-tab
        class="quiz-form__wrapper__tabs__tab"
        *ngFor="let tab of tabs; let i = index"
        [label]="tab"
      >
        <ng-template class="quiz-form__wrapper__tabs__tab__label" mat-tab-label>
          {{ tab }}
          <button
            class="quiz-form__wrapper__tabs__tab__label__delete"
            mat-icon-button
            [disabled]="tabs.length === 1"
            (click)="deleteLevel(i)"
          >
            <mat-icon class="quiz-form__wrapper__tabs__tab__label__delete__icon"
              >highlight_off</mat-icon
            >
          </button>
        </ng-template>
        <app-level-item
          class="quiz-form__wrapper__tabs__tab__level"
          [quizForm]="quizForm"
          [levelIndex]="i"
          [tabs]="tabs"
          [attemptedQuiz]="attemptedQuiz"
        ></app-level-item>
      </mat-tab>
      <mat-tab class="quiz-form__wrapper__tabs__tab" disabled>
        <ng-template class="quiz-form__wrapper__tabs__tab__label" mat-tab-label>
          <button
            class="quiz-form__wrapper__tabs__tab__label__add"
            mat-icon-button
            (click)="addTab()"
          >
            <mat-icon class="quiz-form__wrapper__tabs__tab__label__add__icon"
              >add_circle</mat-icon
            >
          </button>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
    <button
      class="quiz-form__wrapper__action"
      mat-raised-button
      type="submit"
      [disabled]="!quizForm.valid"
      (click)="onSubmit()"
    >
      Save quiz
    </button>
    <button
      class="quiz-form__wrapper__action"
      *ngIf="attemptedQuiz && attemptedQuiz.name !== ''"
      mat-raised-button
      (click)="deleteQuiz()"
    >
      Delete quiz
    </button>
  </div>
</form>
