<mat-card class="quiz">
  <img
    class="quiz_img"
    mat-card-sm-image
    src="https://upload.wikimedia.org/wikipedia/en/thumb/3/30/Java_programming_language_logo.svg/1200px-Java_programming_language_logo.svg.png"
  />
  <div class="quiz__info">
    <mat-card-title class="quiz__info__name">Java</mat-card-title>
    <mat-card-subtitle class="quiz__info__subtitle"
      >Level: Hard</mat-card-subtitle
    >
    <mat-card-subtitle class="quiz__info__subtitle"
      >Score: 93%</mat-card-subtitle
    >
    <mat-card-actions class="quiz__info__actions">
      <button class="quiz__info__actions__retry" mat-button>Try again</button>
    </mat-card-actions>
  </div>
</mat-card>
