<mat-card class="quiz">
  <img class="quiz_img" mat-card-sm-image [src]="solvedQuiz.thumbnail" />
  <div class="quiz__info">
    <mat-card-title class="quiz__info__name">{{
      solvedQuiz.name
    }}</mat-card-title>
    <mat-card-subtitle class="quiz__info__subtitle"
      >Level: {{ solvedQuiz.level }}</mat-card-subtitle
    >
    <mat-card-subtitle
      class="quiz__info__subtitle"
      *ngIf="solvedQuiz.isCompleted"
      >Score: {{ solvedQuiz.score }} /
      {{ solvedQuiz.totalQuestions }}</mat-card-subtitle
    >
    <mat-card-actions class="quiz__info__actions">
      <button
        class="quiz__info__actions__retry"
        mat-button
        *ngIf="solvedQuiz.isCompleted"
      >
        Try again
      </button>
      <button
        class="quiz__info__actions__retry"
        mat-button
        *ngIf="!solvedQuiz.isCompleted"
      >
        Continue
      </button>
    </mat-card-actions>
  </div>
</mat-card>
