@use '@angular/material' as mat;
@import '../../../../../scss/colors.scss';

.quiz {
  border: 1px solid mat.get-color-from-palette($secondary, 300);
  display: flex;
  gap: 20px;
  align-items: center;

  &__img {
    width: 50%;
  }

  &__info {
    &__name {
      font-size: 28px;
      margin-bottom: 20px;
      color: mat.get-color-from-palette($secondary, 300);
    }

    &__subtitle {
      color: mat.get-color-from-palette($secondary, 300);
      color: mat.get-color-from-palette($accent, 500);
    }

    &__actions {
      margin: 0;

      &__action {
        background-color: mat.get-color-from-palette($secondary, 400);
        cursor: pointer;
        padding: 8px 20px;
        border: 2px solid mat.get-color-from-palette($secondary, 400);
        color: mat.get-color-from-palette($secondary, 100);
        &:hover {
          background-color: mat.get-color-from-palette($secondary, 300);
        }
      }
    }
  }
}
