@use '@angular/material' as mat;
@import '../../../../../scss/colors.scss';

.quiz {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 1fr 12fr;
  height: calc(100vh - 160px);
  column-gap: 12px;
  padding-top: 80px;

  &__questions {
    grid-column: 4 / 10;
    background-color: mat.get-color-from-palette($primary, 500);
    padding: 20px;
  }

  &__paginator {
    grid-column: 5 / 10;
    color: mat.get-color-from-palette($accent, 500);
  }

  &__submit {
    grid-column: 5 / 9;
    align-self: center;
    padding: 20px;
    background-color: mat.get-color-from-palette($secondary, 500);
    border: 2px solid mat.get-color-from-palette($secondary, 800);
    border-radius: 60px;
    color: mat.get-color-from-palette($secondary, 100);
    &:hover {
      background-color: mat.get-color-from-palette($secondary, 700);
    }
  }
}
