<div class="quiz" *ngIf="attemptedQuiz && questions && questions.length !== 0">
  <div class="quiz__questions">
    <app-quiz-form
      [user]="user"
      [attemptedQuiz]="attemptedQuiz"
      [index]="index$.value"
      [questions]="questions"
    ></app-quiz-form>
  </div>
  <mat-paginator
    class="quiz__questions"
    (page)="handlePageEvent($event)"
    [length]="questions.length"
    [pageSize]="1"
    [showFirstLastButtons]="true"
    [hidePageSize]="true"
    [pageIndex]="0"
    aria-label="Select page"
  >
  </mat-paginator>
  <button
    class="quiz__submit"
    (click)="confirm()"
    *ngIf="page === questions.length - 1"
  >
    Finish
  </button>
</div>
