<main class="quiz" *ngIf="attemptedQuiz && questions && questions.length !== 0">
  <app-quiz-form
    class="quiz__questions"
    [user]="user"
    [attemptedQuiz]="attemptedQuiz"
    [index]="index$.value"
    [questions]="questions"
  ></app-quiz-form>
  <mat-paginator
    class="quiz__paginator"
    (page)="handlePageEvent($event)"
    [length]="questions.length"
    [pageSize]="1"
    [showFirstLastButtons]="true"
    [hidePageSize]="true"
    [pageIndex]="0"
    aria-label="Select page"
  >
  </mat-paginator>
  <button
    mat-raised-button
    class="quiz__submit"
    (click)="confirm()"
    *ngIf="page === questions.length - 1"
  >
    Finish
  </button>
</main>
