<form
  *ngIf="
    attemptedQuiz &&
    attemptedQuiz.questions &&
    attemptedQuiz.questions.length !== 0
  "
>
  <h3>{{ questions[index].name }}</h3>
  <h4>Choose one answer:</h4>
  <label *ngFor="let answer of questions[index].answers">
    <input
      type="checkbox"
      [value]="answer.name"
      [checked]="
        isChecked(questions[index], attemptedQuiz.questions, answer.name)
      "
      (change)="onButtonChange($event, questions, answer)"
    />
    {{ answer.name }}
  </label>
</form>
