.form {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__question {
  }

  &__description {
  }

  &__answers {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 12px;
  }
}
