<div class="new-quiz">
  <form [formGroup]="quizForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Quiz language name</mat-label>
      <input
        matInput
        placeholder="Ex. Java"
        required
        type="text"
        formControlName="language"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Quiz image url</mat-label>
      <input
        matInput
        placeholder="Ex. https://.../.png"
        required
        type="text"
        formControlName="thumbnail"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Quiz level</mat-label>
      <input
        matInput
        placeholder="Ex. Easy"
        required
        type="text"
        formControlName="level"
      />
    </mat-form-field>
    <app-questions-input
      [form]="quizForm"
      [initQuestionAnswers]="initQuestionAnswers"
    ></app-questions-input>
  </form>
  <button (click)="getStuff()">Ispis</button>
</div>
