@use '@angular/material' as mat;
@import '../../../../../scss/colors.scss';

.login {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-items: center;
  margin-top: 80px;

  &__form {
    grid-column: 6 / 8;
    display: flex;
    flex-direction: column;

    &__title {
      text-align: center;
      color: mat.get-color-from-palette($primary, 500);
    }

    &__field {
      margin-bottom: 20px;

      &__error {
        color: mat.get-color-from-palette($error, normal);
      }

      &__toggle__icon {
        color: mat.get-color-from-palette($accent, 500);
      }
    }

    &__forgotPassword {
      margin: 20px 0;
    }

    &__errors {
      margin: 20px 0;
      color: mat.get-color-from-palette($error, normal);
    }

    &__checkbox {
      margin-bottom: 12px;
      align-self: center;
    }

    &__submit {
      background-color: mat.get-color-from-palette($primary, 500);
    }

    &__forgotPassword {
      color: mat.get-color-from-palette($primary, 200);
      text-align: center;
      cursor: pointer;
    }

    &__google {
      margin-top: 20px;
      width: 100%;
      align-self: center;
      cursor: pointer;
      padding: 4px 16px;
      border: 2px solid mat.get-color-from-palette($primary, 200);
      background-color: mat.get-color-from-palette($primary, 100);
      border-radius: 12px;
    }
  }

  &__redirect {
    grid-column: 5 / 9;
    margin: 40px 0;
    text-align: center;
  }
}
