<div
  class="quiz-dialog"
  mat-dialog-content
  *ngIf="(attemptedQuiz$ | async) && (attemptedQuiz$ | async) as attemptedQuiz"
>
  <div class="quiz-dialog__header">
    <h3 class="quiz-dialog__header__title" mat-dialog-title>
      {{ attemptedQuiz.name }}
    </h3>
    <button
      *ngIf="data"
      class="quiz-dialog__header__edit"
      mat-icon-button
      mat-dialog-close
      [disabled]="!attemptedQuiz"
      [routerLink]="['admin']"
    >
      <mat-icon class="quiz-dialog__header__edit__icon">edit</mat-icon>
    </button>
  </div>
  <mat-button-toggle-group
    class="quiz-dialog__levels"
    *ngIf="(levels$ | async) && (levels$ | async) as levels"
  >
    <mat-button-toggle
      class="quiz-dialog__levels__level button-checked"
      *ngFor="let level of levels"
      value="level"
      (click)="updateLevel(level, attemptedQuiz.name)"
    >
      {{ level }}</mat-button-toggle
    >
  </mat-button-toggle-group>
  <div class="quiz-dialog__actions" mat-dialog-actions>
    <button
      class="quiz-dialog__actions__submit"
      mat-button
      mat-dialog-close
      type="submit"
      [disabled]="!attemptedQuiz.level"
      [routerLink]="['quizzes', attemptedQuiz.name, attemptedQuiz.level]"
    >
      Start
    </button>
    <button class="quiz-dialog__actions__close" mat-button mat-dialog-close>
      Close
    </button>
  </div>
</div>
