<div
  class="quiz-dialog"
  mat-dialog-content
  *ngIf="(attemptedQuiz$ | async) && (attemptedQuiz$ | async) as attemptedQuiz"
>
  <h3 class="quiz-dialog__title" mat-dialog-title>
    {{ attemptedQuiz.name }}
  </h3>
  <mat-button-toggle-group
    class="quiz-dialog__levels"
    *ngIf="(levels$ | async) && (levels$ | async) as levels"
  >
    <mat-button-toggle
      class="quiz-dialog__levels__level button-checked"
      *ngFor="let level of levels"
      value="level"
      (click)="updateLevel(level, attemptedQuiz.name)"
    >
      {{ level }}</mat-button-toggle
    >
  </mat-button-toggle-group>
  <div class="quiz-dialog__actions" mat-dialog-actions>
    <button
      class="quiz-dialog__actions__submit"
      mat-button
      mat-dialog-close
      type="submit"
      [disabled]="!attemptedQuiz.level"
      [routerLink]="['quizzes', attemptedQuiz.name, attemptedQuiz.level]"
    >
      Start
    </button>
    <button
      class="quiz-dialog__actions__close"
      *ngIf="data.valueOf()"
      mat-button
      mat-dialog-close
      [routerLink]="['admin/new-quiz']"
    >
      Edit
    </button>
    <button class="quiz-dialog__actions__close" mat-button mat-dialog-close>
      Close
    </button>
  </div>
</div>
