@use '@angular/material' as mat;
@import '../../../../../scss/colors.scss';

.quiz-dialog {
  padding: 40px;
  background-color: mat.get-color-from-palette($secondary, 300);
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  align-items: center;
  @media screen and (max-width: 768px) {
    padding: 28px;
  }

  &__header {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 12px;
    margin-bottom: 20px;
    &__title {
      align-self: center;
      color: mat.get-color-from-palette($secondary, 900);
      margin: 0;
    }
    &__edit {
      border: 2px solid mat.get-color-from-palette($secondary, 500);
      background-color: mat.get-color-from-palette($secondary, 200);
      border-radius: 12px;
      cursor: pointer;

      &__icon {
        color: mat.get-color-from-palette($secondary, 500);
      }
    }
  }

  &__levels {
    display: flex;
    gap: 12px;
    :hover {
      background-color: mat.get-color-from-palette($secondary, 700);
    }

    &__level {
      cursor: pointer;
      border: 1px solid mat.get-color-from-palette($secondary, 700);
      border-radius: 32px;
      color: mat.get-color-from-palette($secondary, 900);
      &:checked {
        background-color: mat.get-color-from-palette($secondary, 500);
      }
    }
  }

  &__actions {
    display: flex;
    gap: 20px;
    :disabled {
      background-color: mat.get-color-from-palette($secondary, 200);
      cursor: not-allowed;
    }

    &__submit,
    &__close {
      cursor: pointer;
      border: 0;
      border-color: none;
      padding: 8px 12px;
      background-color: mat.get-color-from-palette($secondary, 700);
      color: mat.get-color-from-palette($secondary, 100);
    }
  }
}
