<div class="form" [formGroup]="form">
  <div class="form__array" formArrayName="questions">
    <mat-label class="form__array__label">Questions</mat-label>
    <div
      class="form__array__questions"
      *ngFor="let question of getQuestions(form); let i = index"
    >
      <div class="form__array__questions__group" [formGroupName]="i">
        <div class="form__array__questions__group__question">
          <mat-form-field
            class="form__array__questions__group__question__field"
            appearance="outline"
          >
            <mat-label
              class="form__array__questions__group__question__field__label"
              >Question {{ i }}</mat-label
            >
            <input
              class="form__array__questions__group__question__field__input"
              matInput
              required
              type="text"
              formControlName="questionName"
            />
          </mat-form-field>
          <button
            class="form__array__questions__group__question__remove"
            mat-icon-button
            (click)="removeQuestion(i)"
          >
            <mat-icon
              class="form__array__questions__group__question__remove__icon"
              >delete</mat-icon
            >
          </button>
        </div>
        <div class="form__array__questions__group__answers">
          <mat-label class="form__array__questions__group__answers__label"
            >Answers</mat-label
          >
          <app-answers-input
            class="form__array__questions__group__answers__list"
            [question]="question"
            [i]="i"
            [form]="form"
          ></app-answers-input>
        </div>
      </div>
    </div>
  </div>
  <button
    class="form__add-question"
    mat-raised-button
    type="button"
    (click)="addQuestion()"
  >
    + Add another question
  </button>
</div>
