@use '@angular/material' as mat;
@import '../../../../../scss/colors.scss';

.password-reset {
  padding: 40px;
  background-color: mat.get-color-from-palette($secondary, 300);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 40px;
  color: mat.get-color-from-palette($secondary, 900);
  @media screen and (max-width: 768px) {
    padding: 28px;
  }

  &__title {
    color: mat.get-color-from-palette($secondary, 900);
  }

  &__form {
    &__field {
      @media screen and (max-width: 768px) {
        width: 100%;
      }
      &__error {
        color: mat.get-color-from-palette($error, normal);
      }
    }

    &__actions {
      justify-content: center;

      &__action {
        border-radius: 40px;
        border: 1px solid mat.get-color-from-palette($secondary, 700);
        padding: 8px 20px;
        background-color: mat.get-color-from-palette($secondary, 700);
        color: mat.get-color-from-palette($secondary, 100);
        &:hover {
          background-color: mat.get-color-from-palette($secondary, 900);
        }
        &:disabled {
          background-color: mat.get-color-from-palette($secondary, 200);
          cursor: not-allowed;
        }
      }
    }
  }
}
