@use '@angular/material' as mat;
@import '../../../../../scss/colors.scss';

.password-reset {
  padding: 40px;
  background-color: mat.get-color-from-palette($primary, 100);
  @media screen and (max-width: 768px) {
    padding: 28px;
  }
  &__form {
    &__field {
      @media screen and (max-width: 768px) {
        width: 100%;
      }
      &__error {
        color: mat.get-color-from-palette($error, normal);
      }
    }

    &__actions {
      justify-content: center;

      &__submit {
        background-color: mat.get-color-from-palette($primary, 50);
      }
    }
  }
}
