@use '@angular/material' as mat;
@import '../../../../../scss/colors.scss';

.quiz {
  display: flex;
  gap: 32px;
  align-items: center;
  cursor: pointer;
  background: radial-gradient(
    mat.get-color-from-palette($primary, 700) 50%,
    transparent
  );
  border-radius: 60px;

  &__img {
    border-radius: 50%;
    height: 80px;
  }

  &__name {
    color: mat.get-color-from-palette($secondary, 300);
  }
}
