@import '@angular/material/theming';

$primary: (
  50: #e3e7f2,
  100: #b9c3df,
  200: #8b9bca,
  300: #5c72b4,
  400: #3954a4,
  500: #163694,
  600: #13308c,
  700: #102981,
  800: #0c2277,
  900: #061665,
  A100: #96a2ff,
  A200: #6375ff,
  A400: #3048ff,
  A700: #1632ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff
  )
);

$secondary: (
  50: #edeaf4,
  100: #d1cae5,
  200: #b3a7d3,
  300: #9583c1,
  400: #7e69b4,
  500: #674ea7,
  600: #5f479f,
  700: #543d96,
  800: #4a358c,
  900: #39257c,
  A100: #cbbdff,
  A200: #a28aff,
  A400: #7a57ff,
  A700: #663dff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff
  )
);

$accent: (
  50: #f5ffe6,
  100: #e6ffc1,
  200: #d6ff97,
  300: #c6ff6d,
  400: #b9ff4e,
  500: #adff2f,
  600: #a6ff2a,
  700: #9cff23,
  800: #93ff1d,
  900: #83ff12,
  A100: #ffffff,
  A200: #fcfff9,
  A400: #dfffc6,
  A700: #d1ffad,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$error: (
  normal: #d2341e,
  light: #ea7b6c,
  lighter: #f7cbc5
);
